<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>


    <title>Document</title>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold text-body-emphasis">Прием гражданочки</h1>
    <img src="https://avatars.mds.yandex.net/i?id=24e0dc5754f74e96b3668cfb2754c5e8_l-5220124-images-thumbs&n=13" width="700">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Привет красавчик, один тут? потанцуем?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/merGame/stitu2" type="button" class="btn btn-primary btn-lg px-4 gap-3">Раздевайс</a>
            <a href="/merGame/gameover" type="button" class="btn btn-primary btn-lg px-4 gap-3">Съеби нахуй</a>
        </div>
    </div>
</div>
</body>
</html>